

{% extends './layouts/pagination.html.twig' %}

{% block content %}
    <header class="masthead" style="background-image: url('/blog-project/public/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                        <div class="post-heading">
                            <h1 >Derniers articles</h1>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    {% for post in posts %}
        {% if post.publishState == true %}
             <article class="mb-4 ">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h2>{{ post.name }}</h2>
                    <div>
                        {% for category in post.categories %}
                            <span class="badge text-bg-primary bg-gradient">{{ category.name }}</span>
                        {% endfor %}
                    </div>
                        <p class="text-muted text-white ">Par <span class="text-primary">{{ post.username }}</span> le {{ post.createdAt | format_datetime(locale='fr') }}</p>
                        <p class="card-text ">{{ post.excerptContent | raw }} </p>
                        <hr>
                        <a href="/blog-project/post/{{ post.slug }}/{{ post.id }}"  class="d-grid btn btn-primary position-relative">
                            Voir plus
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> 
                                {% if post.countComments > 99 %}
                                    99+
                                {% else %}
                                    {{ post.countComments }}
                                {% endif %}
                                <span class="visually-hidden">Commentaires</span>
                            </span>
                        </a>
                    </div>
                </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block page %}
{% if pages %}
<div class="d-flex justify-content-evenly">
{% if pages.previousActive %}
    <a href="{{ pages.previousUri }}" class="btn btn-primary ">Page Précédente</a>
{% else %}
    <a href="{{ pages.previousUri }}" class="btn btn-secondary disabled" role="button" aria-disabled="true">Page Précédente</a>
{% endif %}
{% if pages.nextActive %}
    <a href="{{ pages.nextUri }}" class="btn btn-primary " {{ pages.nextActive }} >Page Suivante</a>
{% else %}
    <a href="{{ pages.nextUri }}" class="btn btn-secondary disabled" role="button" aria-disabled="true">Page Suivante</a>

{% endif %}
</div>
{% endif %}
{% endblock %}