
{% extends './layouts/pagination.html.twig' %}

{% block content %}    

<header class="masthead" style="background-image: url('{{ baseUrl }}/public/img/blogwcloud.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                <div class="post-heading">
                    {% if authUser.roleName == "admin" %}
                        <h1>Administration des commentaires</h1>
                    {% else %}
                        <h1>Mes commentaires</h1>             
                    {% endif %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</header> 
 <main role="main" class="site-content">
        <div class="container col-12 my-3 d-flex flex-wrap gap-1 justify-content-center" >
            {% for comment in comments %}
                <div class="card m-2 col-12
                    {% if comment.publishState == false %}
                        bg-danger-subtle
                    {% endif %}
                    " id="{{ comment.id }}">
                     <div class="row g-0 align-items-center">
                        <div class="card-body col-10">
                            <h6 class="card-subtitle mb-2">Créé le {{ comment.createdAt | format_datetime('short','none',locale='fr') }} par {{ comment.username }} </h6>
                                {% if comment.createdAt != comment.ModifiedAt %} 
                                    <h6 class="card-subtitle mb-2 ">Dernière modification {{ comment.modifiedAt | format_datetime('short','none',locale='fr') }}</h6>
                                {% endif %}
                                {% if comment.publishAt != null %}
                                    <h6 class="card-subtitle mb-2 ">Publié le {{ post.publishdAt | format_datetime('short','none',locale='fr') }}</h6>
                                {% endif %}
                            <p class="card-text">{{ comment.excerptContent | raw }}</p>
                        </div>
                        <div class="col-2">
                            <div class ="d-inline">
                                {% for post in posts %}
                                    {% if comment.postId == post.id %}
                                    <a href="{{ baseUrl }}/post/{{ post.slug }}/{{ comment.postId }}" class="col mx-3" title="Voir le post"><i class="fa-regular fa-newspaper fa-xl" style="color: var(--bs-primary);"></i></a> 
                                    {% endif %}

                                {% endfor %}
                                <a href="{{ baseUrl }}/admin/comment/modify/{{ comment.id }}/{{ comment.postId }}" class="col mx-3" title="Modifier"><i class="fa-solid fa-pen-to-square fa-xl"></i></a>
                            </div>
                        </div>
                    </div>
                </div>        
            {% endfor %}
        </div>
    </div>
 </main>   
{% endblock %}
