
{% extends './layouts/pagination.html.twig' %}

{% block content %}    
<header class="masthead" style="background-image: url('/blog-project/public/img/groupe.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                <div class="post-heading">
                     <h1>Modération des commentaires</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</header> 
         
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Extrait</th>
                        <th scope="col">Créé le </th>
                        <th scope="col">Par</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        {% if comment.publishState != false %}
                            <tr>
                        {% else %}
                            <tr class="table-danger" >
                        {% endif %}
                        <th scope="row">{{ comment.id }}</th>
                        <td>{{ comment.excerptContent | raw }}</td>
                        <td>{{ comment.createdAt | format_datetime(locale='fr') }}</td>
                        <td>{{ comment.username }}</td>
                        <td><a href="/blog-project/admin/comment/modify/{{ comment.id }}/{{ comment.postId }}" class="btn btn-warning" title="Modifier"><i class="fa-solid fa-pen-to-square"></i></a>
                        {% if comment.publishState != false %}
                            <a href="/blog-project/admin/comment/unpublish/{{ comment.id }}/{{ comment.postId }}" class="btn btn-danger" title="Désactiver"><i class="fa-regular fa-rectangle-xmark"></i></a>
                            </td>
                        {% else %}
                            <a href="/blog-project/admin/comment/publish/{{ comment.id }}/{{ comment.postId }}" class="btn btn-success" title="Activer"><i class="fa-solid fa-check"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
{% endblock %}