
{% extends './layouts/pagination.html.twig' %}

{% block content %}    

<header class="masthead" style="background-image: url('{{ baseUrl }}/public/img/groupe.png')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                <div class="post-heading">
                     <h1>Panneau d'administration</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</header>     
<h2 class="text-center">Bonjour {{ authUser.name }} </h2>
<main role="main" class="site-content">
    <div class="row gx-4 gx-lg-5 justify-content-center " >
        <div class="col-lg-3 text-center mx-auto my-3">
            <a href="{{ baseUrl }}/admin/posts" class="btn btn-primary d-block">Posts</a>
        </div> 
        <div class="col-lg-3 text-center mx-auto my-3">
            <a href="{{ baseUrl }}/admin/users" class="btn btn-primary d-block">Utilisateurs</a>
        </div>    
        <div class="col-lg-3 text-center mx-auto my-3">
            <a href="{{ baseUrl }}/admin/comments" class="btn btn-primary d-block">Commentaires</a>             
        </div>
    </div>
    <hr>
    <div class="bg-primary rounded p-3">
    <h2 class="text-center text-light">Modération des informations</h2>   
    <div class="row gx-4 gx-lg-5 justify-content-center" >
        <div class="col-lg-3 text-center mx-auto my-3">            
            <a href="{{ baseUrl }}/admin/moderation/posts" class="btn btn-outline-light d-block">Posts</a> 
        </div> 
        <div class="col-lg-3 text-center mx-auto my-3">
            <a href="{{ baseUrl }}/admin/moderation/comments" class="btn btn-outline-light d-block">Commentaires</a> 
        </div>
    </div>        
</main>

{% endblock %}
