
{% extends './layouts/pagination.html.twig' %}

{% block content %} 
    <header class="masthead" style="background-image: url('{{ baseUrl }}/public/img/groupe.png')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Administration des utilisateurs</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <h2 class="col-12">Bonjour {{ authUser.name }} </h2>
    <main role="main" class="site-content">
        <a href="{{ baseUrl }}/admin/user/new" class="btn btn-primary d-block">Ajouter</a>
        <div class="container col-12 my-3 d-flex flex-wrap gap-1 justify-content-center" >
            {% for registredUser in registredUsers %}
                <div class="card col-12
                    {% if registredUser.active == false %}
                        bg-danger-subtle
                    {% endif %}
                " id="{{ registredUser.id }}">
                    <div class="row g-0 align-items-center">
                        <div class="card-body col-10">
                            <h5 class="card-title text-primary">{{ registredUser.username }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ registredUser.email }}</h6>
                            <p class="card-text">{{ registredUser.createdAt | format_datetime(locale='fr') }}</p>
                            <p class="card-text badge
                                {% if registredUser.roleName == "admin" %} bg-danger {% endif %}
                                {% if registredUser.roleName == "editor" %} bg-info {% endif %}
                                {% if registredUser.roleName == "visitor" %} bg-success {% endif %}
                                 rounded-pill">{{ registredUser.roleName }}</p>
                        </div>
                        <div class="col-2 ">
                            <a href="{{ baseUrl }}/admin/user/modify/{{ registredUser.username }}/{{ registredUser.id }}" class="col mx-3" title="Modifier"><i class="fa-solid fa-pen-to-square fa-xl"></i></a> 
                            {% if registredUser.active %}
                                <a href="{{ baseUrl }}/admin/user/disable/{{ registredUser.username }}/{{ registredUser.id }}" class="col" title="Désactiver"><i class="fa-solid fa-toggle-on fa-2xl" style="color: var(--bs-success);"></i></a>
                            {% else %}
                                <a href="{{ baseUrl }}/admin/user/enable/{{ registredUser.username }}/{{ registredUser.id }}" class="col" title="Activer"><i class="fa-solid fa-toggle-off fa-2xl" style="color: var(--bs-danger);"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
