
{% extends './layouts/connection.html.twig' %}

{% block content %}    
<h1>Administration des utilisateurs</h1>         
            <a href="/blog-project/admin/user/new" class="btn btn-primary">Ajouter</a>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Identifiant</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Enregistré le </th>
                        <th scope="col">Role</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for registredUser in registredUsers %}
                    {% if registredUser.active %}
                    <tr>
                    {% else %}
                    <tr class="table-info" >
                    {% endif %}
                        <th scope="row">{{ registredUser.id }}</th>
                        <td>{{ registredUser.username }}</td>
                        <td>{{ registredUser.email }}</td>
                        <td>{{ registredUser.createdAt }}</td>
                        <td>{{ registredUser.roleId }}</td>
                        <td><a href="/blog-project/admin/user/modify/{{ registredUser.username }}/{{ registredUser.id }}" class="btn btn-warning">Modifier</a> 
                        {% if registredUser.active %}
                            <a href="/blog-project/admin/user/disable/{{ registredUser.username }}/{{ registredUser.id }}" class="btn btn-danger">Désactiver</a> </td>
                        {% else %}
                            <a href="/blog-project/admin/user/enable/{{ registredUser.username }}/{{ registredUser.id }}" class="btn btn-success">Activer</a> </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
{% endblock %}