
{% extends './layouts/pagination.html.twig' %}

{% block content %}

<header class="masthead" style="background-image: url('{{ baseUrl }}/public/img/blogwcloud.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                <div class="post-heading">
                    <h1>Modification de commentaire</h1>  
                    <hr>
                </div>
            </div>
        </div>
    </div>
</header>
<h2 class="col-12">Bonjour {{ authUser.name }} </h2>
<main role="main" class="site-content">
    <div class="row gx-4 gx-lg-5 justify-content-center my-3" >
        <div class="col-md-10">            
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-title border border-dark text-center bg-primary-subtle p-2 rounded-pill">
                        Posté par
                        <span class="text-danger">{{ comment.username }}</span>
                        le {{ comment.createdAt | format_datetime(locale='fr') }}
                    </div>
                    <p class="card-text">{{ comment.content | raw }} </p>
                </div>
            </div>
        </div>
        <div class="col-md-10 border border-dark mt-3"> 
            <form action="" method="post"> 
                <div class="form-group pt-3">
                    <label id="content">Contenu de l'article</label>
                    <textarea class="form-control" rows="8" id="content" name="content" >{{ comment.content | raw }}</textarea>
                </div>
                <input type="hidden" name="token" id="hiddentoken" value="{{ authUser.token }}" />
                <button type="submit" class="btn btn-primary float-end my-3">Modifier</button>
            </form> 
        </div>    
    </div>
</main>

{% endblock %}
 