
{% extends './layouts/pagination.html.twig' %}

{% block content %} 
            <header class="masthead" style="background-image: url('{{ baseUrl }}/public/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Modification de l'article :<br>
                            {{ post.name }}</h1>
                            <h2 class="subheading">{% for category in post.categories %}                 
                                    <span class="badge text-bg-primary bg-gradient">{{ category.name }}</span>
                                {% endfor %}   </h2>
                            <span class="meta">
                                Posté par
                                <span class="text-primary">{{ post.username }}</span>
                                le {{ post.createdAt | format_datetime(locale='fr')  }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <h1>Modification d'article</h1>            
            <div class="col-md-10">            
                <div class="card mb-3 bg-secondary bg-gradient text-light">
                    <div class="card-body">
                        <h5 class="car-title text-warning">{{ post.name }}</h5>
                        <p class="text-muted text-white bg-light">{{ post.createdAt | format_datetime(locale='fr') }}</p>
                        <p class="card-text">{{ post.content | raw }} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-10 border border-dark"> 
                <form action="" method="post">
                <div class="form-group">
                    <label id="name">Titre de l'article</label>
                    <input class="form-control" type="text" id="name"  name="name" value="{{ post.name }}">
                </div>    
                <div class="form-group">
                    <label id="content">Contenu de l'article</label>
                    <textarea class="form-control" rows="8" id="content" name="content" >{{ post.content | raw }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Modifier</button>
                </form> 
            </div>    

{% endblock %}
