

{% extends './layouts/connection.html.twig' %}

{% block content %}             
            <div class="col">            
                <div class="card mb-3 bg-secondary bg-gradient text-light">
                    <div class="card-body">
                        <h3 class="car-title text-warning">{{ post.name }}</h3>
                        <h4><p class="badge bg-primary text-light">Par {{ post.username }} le {{ post.createdAt }}</p></h4>
                        <p class="card-text">{{ post.content | raw }} </p>
                    </div>
                </div>
            </div>
            <h1>Ajout d'un commentaire</h1>
            <div class="col border border-dark"> 
                <form action="" method="post">
                    <div class="form-group">
                        <label id="content">Contenu du commentaire</label>
                        <textarea class="form-control" rows="8" id="content" name="content" ></textarea>
                    </div>
                <input type="hidden" name="userId" id="hiddenUser" value="{{ authUser.id}}" />
                <input type="hidden" name="postId" id="hiddenPost" value="{{ post.id}}" />
                <button type="submit" class="btn btn-primary">Ajouter</button>

                
                </form> 
            </div>     
            {% if comments %}
            <h2> Commentaires </h2>
            {% endif %}
            {% for comment in comments %}
            
            <div class="col">            
                <div class="card mb-3 bg-white bg-gradient ">
                    <div class="card-body">
                        <p class="car-title badge bg-primary text-light">par {{ comment.username }} le {{ comment.createdAt }}</p>
                        <p class="card-text">{{ comment.content | raw }} </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <a href="/blog-project/admin/comment/add/{{ post.slug }}/{{ post.id }}" class="btn btn-primary mb-4 {% if authUser.id == false %} disabled {% endif %}">Ajouter un commentaire</a>
            <div class="container col-4 bg-danger-subtle {% if authUser.id != false %} invisible {% endif %} rounded border border-dark">
                <a href="/blog-project/signup" class="btn btn-warning  btn-outline-primary mx-auto p-2 mt-3 w-100" >Inscrivez-vous</a>      
                <div class="col-1 mx-auto p-2">ou</div>
                <a href="/blog-project/login" class="btn btn-warning btn-outline-primary mx-auto p-2 mb-3 w-100">Identifiez-vous</a>
            </div>

{% endblock %}