
{% extends './layouts/connection.html.twig' %}

{% block content %}    
<h1>Administration des utilisateurs</h1>         
            <a href="/blog-project/admin/user/new" class="btn btn-primary">Ajouter</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Identifiant</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Enregistré le </th>
                        <th scope="col">Role</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for registredUser in registredUsers %}
                    <tr>
                        <th scope="row">{{ registredUser.id }}</th>
                        <td>{{ registredUser.username }}</td>
                        <td>{{ registredUser.email }}</td>
                        <td>{{ registredUser.createdAt }}</td>
                        <td>{{ registredUser.roleId }}</td>
                        <td><a href="/blog-project/admin/user/modify/{{ registredUser.username }}-{{ registredUser.id }}" class="btn btn-warning">Modifier</a> 
                        <a href="/blog-project/admin/user/delete/{{ registredUser.username }}-{{ registredUser.id }}" class="btn btn-danger">Supprimer</a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
{% endblock %}