
{% extends './layouts/connection.html.twig' %}

{% block content %}    
{% if authUser.roleName == "admin" %}
    <h1>Administration des commentaires</h1>
{% else %}
    <h1>Mes commentaires</h1>             
{% endif %}
            <a href="/blog-project/admin/comment/new" class="btn btn-primary">Ajouter un commentaire</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Extrait</th>
                        <th scope="col">Publié le </th>
                        <th scope="col">Par</th>

                        <th scope="col"> Post </th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                    <tr>
                        <th scope="row">{{ comment.id }}</th>
                        <td>{{ comment.content | raw }}</td>
                        <td>{{ comment.createdAt }}</td>
                        <td>{{ comment.username }}</td>
                        <td><a href="/blog-project/post/{{ comment.id }}-{{ comment.postId }}" class="btn btn-secondary ">Voir le post</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
{% endblock %}