

{% extends './layouts/connection.html.twig' %}

{% block content %} {% for post in posts %}
            
            <div class="col-md-10">            
                <div class="card mb-3 bg-primary bg-gradient text-light">
                    <div class="card-body">
                        <h5 class="car-title text-warning">{{ post.name }}</h5>
                            <div>
                                {% for category in post.categories %}                 
                                    <span class="badge badge-info">{{ category.name }}</span>
                                {% endfor %}   
                            </div>
                        <p class="text-muted text-white bg-light">{{ post.createdAt }}</p>
                        <p class="card-text">{{ post.excerptContent }} </p>
                        <a href="/blog-project/post/{{ post.slug }}-{{ post.id }}" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>

{% endfor %}
{% endblock %}
{% block page %}
{% if pages.previousActive %}
    <a href="{{ pages.previousUri }}" class="btn btn-primary">Page Précédente</a>
{% else %}
    <a href="{{ pages.previousUri }}" class="btn btn-secondary disabled" role="button" aria-disabled="true">Page Précédente</a>
{% endif %}
{% if pages.nextActive %}
    <a href="{{ pages.nextUri }}" class="btn btn-primary " {{ pages.nextActive }} >Page Suivante</a>
{% else %}
    <a href="{{ pages.nextUri }}" class="btn btn-secondary disabled" role="button" aria-disabled="true">Page Suivante</a>

{% endif %}

{% endblock %}