

{% extends './layouts/connection.html.twig' %}

{% block content %}             
            <div class="col-md-10">            
                <div class="card mb-3 bg-secondary bg-gradient text-light">
                    <div class="card-body">
                        <h3 class="car-title text-warning">{{ post.name }}</h3>
                        <h4><p class="badge bg-primary text-light">Par {{ post.username }} le {{ post.createdAt }}</p></h4>
                        <p class="card-text">{{ post.content }} </p>
                    </div>
                </div>
            </div>
            {% if comments %}
            <h2> Commentaires </h2>
            {% endif %}
            {% for comment in comments %}
            
            <div class="col-md-10">            
                <div class="card mb-3 bg-white bg-gradient ">
                    <div class="card-body">
                        <p class="car-title badge bg-primary text-light">par {{ comment.username }} le {{ comment.createdAt }}</p>
                        <p class="card-text">{{ comment.content }} </p>
                    </div>
                </div>
            </div>
            {% endfor %}

{% endblock %}