
{% extends './layouts/connection.html.twig' %}

{% block content %} 
                       
            <header class="masthead" style="background-image: url('')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Formulaire d'inscription</h1> 
                            
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <div class="col-md-10 border border-dark"> 
                <form action="" method="post">
                <div class="form-group">
                    <label id="username">Identifiant</label>
                    <input class="form-control" type="text" id="username"  name="username" value="{{ data.username }}">
                </div>
                
                <div class="form-group">
                    <label id="email">Email</label>
                    <input class="form-control" type="email" id="email"  name="email" placeholder="john@doe.com" value="{{ data.email }}">
                </div>
                           
                <div class="form-group">
                    <label id="password1">Mot de passe</label>
                    <input class="form-control" type="password" minlength="8" id="password1"  name="password" required>
                </div>
                <small id="passwordHelpBlock" class="form-text text-muted">
					Votre mot de passe doit comporter plus de 8 caractères, un ou plusieurs caractères spéciaux "!@#$%&*_?", chiffres, minuscules et majuscules.
		        </small>
                <div class="form-group">
                    <label id="password2">Confirnation de mot de passe</label>
                    <input class="form-control" type="password" minlength="8" id="password2"  name="confirmPassword" required>
                </div>
                {% if user.role == "admin" %}
                    <div class="form-group bg-light">
                    Role:
                    {% for role in roles %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="{{ role.id }}" name="roleId" id="rol-{{ role.role }}-{{ role.id }}">
                            <label class="form-check-label" for="rol-{{ role.role }}-{{ role.id }}">{{ role.role }}</label>
                        </div>
                        {% endfor %}    
                    </div>  
                {% endif %}      
                {% if password1 == password2 %}
                <button type="submit" class="btn btn-primary my-3">Créer</button>
                {% endif %}
                
                </form> 
            </div>    

{% endblock %}